.Rproj
.user
.Rhistory
.RData
.Ruserdata
.Rproj.user
.Rproj
*.Rproj
.Rproj.user/shared/notebooks/paths
**/.Rproj.user/shared/notebooks/paths
# Ignore all files inside inst/extdata/downloads
inst/extdata/downloads/*
# But keep the downloads directory
!inst/extdata/downloads/
.Rproj.user/shared/notebooks/paths
/.Rproj.user
/.Rproj.user
